/* you need to implement */

/*不要动*/
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme {
  background-image: url("../images/water_wave_bg.gif");
  background-size: cover;
  font-family: serif, "Microsoft Yahei";
}

/*大展示框*/
.main-container {
  width: 80%;
  height: 85%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  opacity: 0.8; /*不透明度*/
}

.title {
  text-align: center;
}

/*让四个平均分布*/
.overview {
  display: flex;
  justify-content: space-around;
}

.statistics {
  display: flex;
  justify-content: space-between;
  flex-grow: 1; /*要和max-width连用*/
  height: 80px;
  max-width: 23%; /*手动压缩窗口时不会溢出*/
  border-radius: 5px;
  background-position: center center;
  background-size: cover;
  background-blend-mode: multiply; /*图片与颜色的混合模式：正片叠底模式*/
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  cursor: pointer;
}

.statistics-left {
  flex-grow: 1;
}

.statistics-title {
  margin: 0;
  padding: 8px;
}

.statistics-content {
  margin: 0;
  padding: 0 8px;
  font-size: 30px;
} /*??*/

.statistics-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.statistics-proportion {
  font-size: 50px;
  margin: 0;
  padding: 0 10px;
}

.all-task {
  background-image: url("../images/all_tasks_bg.jpg");
}

.active-task {
  background-image: url("../images/active_task_bg.svg");
}

.pending-task {
  background-image: url("../images/padding_tasks_bg.svg");
}

.closed-task {
  background-image: url("../images/closed_tasks_bg.svg");
}

.title-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.tools {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 16px 0;
}

.btn {
  outline: none;
  cursor: pointer;
}

.search-btn,
.add-btn {
  padding: 5px 10px 2px;
  border-radius: 15px;
  border: 1px solid #308169;
  background-color: #fff;
  margin: 2px 15px;
}

.add-btn {
  margin-right: 0;
  margin-left: 0;
}

.search-input {
  width: 240px;
  padding-left: 5px;
  font-size: 15px;
  color: #256b56;
  outline: none;
  border: 0;
  border-bottom: 2px solid #256b56; /*和按钮同款绿色，美不胜收*/
}

.task-list {
  height: 100%;
  opacity: 0.8;
  margin: 0 10px;
}

.task-data-container {
  width: 100%;
  table-layout: fixed; /*列的宽度由该列首行决定*/
}

.task-header {
  background-color: #ebecf0;
  font-size: 18px;
  font-weight: 500;
}

.sort-up {
  background-image: url("../images/sort_up.svg");
  /*-webkit-mask: url(../images/sort_up.svg) no-repeat center;*/
  /* height: 16px; */
}

.sort-down {
  background-image: url("../images/sort_down.svg");
}

.sort-btn {
  border: 0;
  height: 11px;
  background-position: center;
}

.sort-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 5px;
}

.task-row {
  display: flex;
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #ebecf0;
}

.task-num-col {
  width: 5%;
}

.task-name-col.stable {
  width: 16%;
  display: flex;
}

.task-name-col {
  width: 16%;
  display: flex;
  /*怎么让任务名称也使用省略号，展开时同时展开任务描述呢
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical; /*向下展示溢出内容
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  margin-right: 5px;
  cursor: pointer;
  */
}

.task-name-col:hover {
  overflow: visible;

  -webkit-box-orient: inherit;
  text-overflow: inherit;
}

.task-desc-col {
  width: 45%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical; /*向下展示溢出内容*/
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  margin-right: 5px;
  cursor: pointer;
}

.task-desc-col:hover {
  overflow: visible;

  -webkit-box-orient: inherit;
  text-overflow: inherit;
}

.task-deadline-col {
  display: flex;
  width: 14%;
}

.task-status-col {
  display: flex;
  width: 12%;
}

.task-operation-col {
  width: 8%;
  display: flex;
  justify-content: center;
}

.task-body {
  font-size: 15px;
  overflow: scroll;
  max-height: calc(100% - 280px);
}

.active {
  color: #b1b106;
}

.pending {
  color: #5252bb;
}

.closed {
  color: #ee5271;
}

.btn-icon {
  /*显示单纯的图标*/
  border: 0;
  background-color: rgba(255, 255, 255, 0);
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  display: none;
}

.modal-flex-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.popover {
  width: 400px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
}

.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 5px;
}

.modal-title h2 {
  flex-grow: 8;
  margin: 0;
}

.modal-title img {
  flex-grow: 1;
}

.modal-container {
  margin: 0px 10px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.modal-btn-cancel {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 15px;
  width: 60px;
}

.modal-btn-ok {
  background-color: #3080fe;
  border: 1px solid #3080fe;
  border-radius: 5px;
  margin-left: 10px;
  padding: 5px 10px;
  color: #ffffff;
  margin-right: 5px;
  cursor: pointer;
  font-size: 15px;
  width: 60px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 5px 5px 20px 5px;
}

.text-container label {
  font-size: 20px;
  margin-right: 20px;
  width: 100%;
  margin-top: 10px;
}

.text-container input {
  font-size: 15px;
  height: 30px;
  position: relative;
  top: 3px;
  right: 2px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-container textarea {
  font-size: 15px;
  width: 100%;
  border-radius: 5px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.status-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
