/* you need to implement */

/*不要动*/
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme {
  background-image: url("../images/water_wave_bg.gif");
  background-size: cover;
  font-family: serif, "Microsoft Yahei";
}

/*大展示框*/
.main-container {
  width: 80%;
  height: 85%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  opacity: 0.8; /*不透明度*/
}

.title {
  text-align: center;
}
